.relative {
  position: relative;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
}

.inline-flex {
  display: inline-flex;
}

.rounded-md {
  border-radius: 6px;
}

.gap-1 {
  gap: 4px;
}

.w-5 {
  width: 20px;
}

.h-5 {
  height: 20px;
}

.rounded-full {
  border-radius: 50%;
}
